<h2> Order <%= @order.id %> </h2>

<%# a merchant can only see this page if one of their products is in the order %>
<%# psuedocode logic %>
<%# check session id for merchant %>
<%# check if order.product.map { merch_id } %>
<%# includes session[id] %>
<%# else not auth %>
<%# order.product.where { merch_id == session[:user_id] %>


<table class="table">
  <thead>
    <tr>
    <th>
    Merchant
    </th>
      <th>
        Item
      </th>
      <th>
      Quantity
      </th>
      <th>
      Price
      </th>
    </tr>
  </thead>
  <tbody>
    <% @order.products.each do |product| %>
        <tr>
            <td><%= product.merchant.username %></td>
            <td><%= product.name %></td>
            <td><%= OrderProduct.find_by(order_id: @order.id, product_id: product.id).quantity %> </td>
            <td><%= OrderProduct.find_by(order_id: @order.id, product_id: product.id).total_price %></td>
        </tr>
    <% end %>
  </tbody>
</table>
