<h2>Order Confirmation</h2>
<p><%= @order.name %></p>
<p><%= @order.email %></p>
<p><%= @order.address1 %></p>
<p><%= @order.city %>,
  <%= @order.state %>
  <%= @order.zip %></p>
<p> Credit card: XXXX-XXXX-XXXX-<%= @order.last_four %></p>
<p>Expiration: <%= @order.expiration %></p>
<table class="table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Date</th>
      <th>Status</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><%= @order.id %></td>
        <td><%= (@order.created_at).strftime("%m/%d/%Y") %></td>
        <td><%= @order.status %></td>
        <td>$<%= number_with_precision(@order.checkout_amount, :precision => 2, :delimiter => ',')%></td>
    </tr>
  </tbody>
</table>

<table class="table">
<thead>
<tr>
<th>Product</th>
<th>Quantity</th>
<th>Subtotal</th>
</tr>
</thead>
<tbody>
<% @order.order_products.each do |op| %>
<% if op.product.merchant_id == @merchant.id %>
<tr>
<td><%= link_to Product.find_by(id: op.product_id).name, product_path(op.product_id) %></td>
<td><%= op.quantity %></td>
<td>$<%= number_with_precision(op.total_price, :precision => 2, :delimiter => ',')%></td>
</tr>
<% end %>
<%end%>
</tbody>
</table>
