<section class="form-parent"><%= form_with model: @product do |f| %>

<section class="form-group">
    <%= f.label :name%>
    <%= f.text_field :name,  class: "form-control"%>
</section>

<section class="form-group">
    <%= f.label :price%>
    <%= f.number_field :price,  step: 0.05,  class: "form-control" %>
</section>

<section class="form-group">
    <%= f.label :quantity%>
    <%= f.number_field :quantity,  step: 1,  class: "form-control"%>
</section>

<section class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control"%>
</section>

<section class="form-group">
    <%= f.label "Link to image", :image_url%>
    <%= f.text_field :image_url, class: "form-control"%>
</section>

<section  >
    <%= f.label :category_ids, "Categories:"  %>
    <div class="checkboxes">
    <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name) do |b| %>
        <div class="checkbox-field">
            <%=b.check_box%>
            <%=b.label%>
        </div>
    <% end %>
    </div>
</section>

<div class="action">
    <%= f.submit locals[:button_text], class: "btn btn-primary"  %>
</div>

<%end%>
</section>