<section class="form-parent"><%= form_with model: @product do |f| %>

<section class="form-group">
    <%= f.label :name%>
    <%= f.text_field :name,  class: "form-control"%>
</section>

<section class="form-group">
    <%= f.label :price%>
    <%= f.number_field :price,  step: 0.05,  class: "form-control" %>
</section>

<section class="form-group">
    <%= f.label :quantity%>
    <%= f.number_field :quantity,  step: 1,  class: "form-control"%>
</section>

<section class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control"%>
</section>

<section class="form-group">
    <%= f.label "Link to image", :image_url%>
    <%= f.text_field :image_url, class: "form-control"%>
</section>

<section class="form-check form-check-inline">
    <%= f.label :category_ids, "Categories:", class: "form-check-label" %>
    <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name) do |b| %>
 <%= b.label class: "form-check-label" %>
 <%= b.check_box class: "form-check-input" %>
 <% end %>
</section>

<div class="action">
    <%= f.submit locals[:button_text], class: "btn btn-primary"  %>
</div>

<%end%>
</section>