<!DOCTYPE html>
<html>
  <head>
    <title>HaCKSy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    

<<<<<<< HEAD
    <nav>
      <ul>
        <li><%= link_to "Browse All Products", products_path %></li>
        <li><%= link_to "Browse By Merchant", merchants_path %>
            <ul>
            <%Merchant.all.each do |merchant|%>
              <li><%= link_to merchant.username, merchant_products_path(merchant.id) %></li>
            <%end%>
            </ul>
        </li>
        <li><%= link_to "Browse By Category", categories_path %>
          <ul>
            <%Category.all.each do |category|%>
              <li><%= link_to category.name, category_products_path(category.id) %></li>
            <%end%>
          </ul>
        </li>
      </ul>
      <ul>
        <% if session[:user_id] %>
        <li><%= link_to "Logged in as #{@current_merchant.username}", dashboard_path, method: "get" %></li>
        <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
        <% else %>
        <li><%= link_to "Login with Github", github_login_path %></li>
        <% end %>
      </ul>
      <ul>
        <li><%= link_to "Cart (#{@current_order.products.count})", current_order_path(session[:order_id]) %></li>
      </ul>
=======
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="#"  class="navbar-brand">
        <h1>HaCKSy</h1>
        <sub>Cute tagline here</sub>
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse", id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Browse All Products", products_path, class:"nav-link"%></li>
          <li class="nav-item dropdown">
          <%= link_to "Browse By Merchant", "#", class: "nav-link dropdown-toggle", id:"navbarDropdown", role: "button"%>
              <div class="dropdown-menu", aria-labelledby="navbarDropdown">
              <%Merchant.all.each do |merchant|%>
                <%= link_to merchant.username, merchant_products_path(merchant.id), class:"dropdown-item"%>
              <%end%>
              </div>
          </li>
          <li class="nav-item dropdown"><%= link_to "Browse By Category", "#", class:"nav-link dropdown-toggle", id:"navbarDropdown", role:"button" %>
            <div class="dropdown-menu", aria-labelledby="navbarDropdown">
              <%Category.all.each do |category|%>
                <%= link_to category.name, category_products_path(category.id), class:"dropdown-item"%>
              <%end%>
            <div>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <% if session[:user_id] %>
          <li class="nav-item"><%= link_to "Logged in as #{@current_merchant.username}", dashboard_path, method: "get", class:"btn btn-secondary"%></li>
          <li class="nav-item"><%= link_to "Log Out", logout_path, method: "delete" , class:"btn btn-secondary"%></li>
          <% else %>
          <li class="nav-item"><%= link_to "Login with Github", github_login_path, class:"btn btn-secondary" %></li>
          <% end %>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Cart (#{@current_order.products.count})", current_order_path, class:"btn btn-secondary" %></li>
        </ul>
      </div>
>>>>>>> master
  </header>

  <section>
 
  <%if flash[:status]%>
    <section>
      <% if flash[:status] == "success" || flash[:status] == :success%>
        <div class="alert alert-success">
        
          <p> <%= flash[:message] %></p> 
        </div>
      <%end%>
        <% if flash[:status] == :error || flash[:status] == "error"%>
          <div class="alert alert-warning">
            <span><%= flash[:message] %></span>

            <%= error_list(flash[:errors]) if flash[:errors]%>
          </div> 
        <%end%>
      </section>
    <%end%>
    <%= yield %>
  </section>
  
  </body>
</html>
