<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HaCKSy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    
  
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <%=link_to root_path,  class:"navbar-brand" do%>
        <h1 class="typewriter">./HaCKSy</h1>
        <sub>Disrupting innovation and innovating disruption</sub>
      <%end%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Browse All Products", products_path, class:"nav-link"%></li>
          <li class="nav-item dropdown">
          <%= link_to "Browse By Merchant", "#", class: "nav-link dropdown-toggle", id:"navbarDropdown1", 'data-toggle' => 'dropdown' %>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%if Merchant.all.length > 5 %>
                <%Merchant.all.first(5).each do |merchant|%>
                  <%= link_to merchant.username, merchant_products_path(merchant.id), class:"dropdown-item"%>
                <%end%>
                <%= link_to "See All Merchants", merchants_path, class:"dropdown-item see-all"%>
              <%else%>
                <%Merchant.all.each do |merchant|%>
                  <%= link_to merchant.username, merchant_products_path(merchant.id), class:"dropdown-item"%>
                <%end%>
              <%end%>
              </div>
          </li>
          <li class="nav-item dropdown"><%= link_to "Browse By Category", categories_path, class:"nav-link dropdown-toggle", id:"navbarDropdown2", 'data-toggle' => 'dropdown' %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%if Category.all.length > 5 %>
            <%Category.all.first(5).each do |category|%>
                <%= link_to category.name, category_products_path(category.id), class:"dropdown-item"%>
              <%end%>
              <%= link_to "See All Categories", categories_path, class:"dropdown-item see-all"%>
            <%else%>
              <%Category.all.each do |category|%>
                <%= link_to category.name, category_products_path(category.id), class:"dropdown-item"%>
              <%end%>
            <%end%>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <% if session[:user_id] %>
          <li class="nav-item"><%= link_to "Logged in as #{@current_merchant.username}", dashboard_path, method: "get", class:"btn btn-secondary"%></li>
          <li class="nav-item"><%= link_to "Log Out", logout_path, method: "delete" , class:"btn btn-secondary"%></li>
          <% else %>
          <li class="nav-item"><%= link_to "Login with Github", github_login_path, class:"btn btn-secondary" %></li>
          <% end %>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Cart (#{@current_order.products.count})", current_order_path, class:"btn btn-secondary" %></li>
        </ul>
      </div>
      </nav>
  </header>
  <main>
  <section>
 
  <%if flash[:status]%>
    <section>
      <% if flash[:status] == "success" || flash[:status] == :success%>
        <div class="alert alert-success">
        
          <p> <%= flash[:message] %></p> 
        </div>
      <%end%>
        <% if flash[:status] == :error || flash[:status] == "error"%>
          <div class="alert alert-warning">
            <span><%= flash[:message] %></span>

            <%= error_list(flash[:errors]) if flash[:errors]%>
          </div> 
        <%end%>
      </section>
    <%end%>
    <%= yield %>
  </section>
  </main>
  </body>
</html>
